body {
    background-color: black;
    background-image: url("https://i.imgur.com/ZiW8x0v.jpg");
    image-resolution: 300dpi;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    text-align: center;
    color: white;
}

.dealcards {
    text-align: center;
}

.playcards {
    text-align: center;
}

#message {
    text-align: center;
    color: white;
}

.bet {
    display: block;
    text-align: center;
    color: white;
}

.deal {
    width: 50px;
}

.card {
    height: 125px;
}

.dealer {
    text-align: center;
    color: white;
    margin-top: 0px;
}

.player {
    text-align: center;
    color: white;
    margin-top: 0px;
}

#playerscore {
    text-align: center;
    color: white;
}

#dealerscore {
    text-align: center;
    color: white;
}

.chips {
    text-align: center;
}

button {
    margin-left: 5px;
}

#one {
    background: transparent;
    border: 0px;
}

#one img {
    height: 70px;
    padding-bottom: 10px;
}

#five {
    background: transparent;
    border: 0px;
    height: 50px;
}

#five img {
    height: 70px;
    padding-bottom: 10px;
}

#twofive {
    background: transparent;
    border: 0px;
}

#twofive img {
    height: 70px;
    padding-bottom: 10px;
}

#onehun {
    background: transparent;
    border: 0px;
    height: 50px;
}

#onehun img {
    height: 70px;
    padding-bottom: 10px;
}

#bg {
    margin-left: auto;
    margin-right: auto;
}

.title {
    width: 900px;
}

.second-title {
    font-size: 20px;
    padding-top: 5px;
}



@media only screen and (max-width: 900px) {

    .title {
        width: 100%;
        padding-top: 15px;
    }

    .second-title {
        font-size: 15px;
        padding-top: 5px;
    }

    #message {
        font-size: 20px;
        text-align: center;
        color: white;
        margin: 0px;
    }

    h2 {
        font-size: 20px;
    }

    #one img {
        height: 50px;
        padding-bottom: 10px;
    }

    #five img {
        height: 50px;
        padding-bottom: 10px;
    }

    #twofive img {
        height: 50px;
        padding-bottom: 10px;
    }

    #onehun img {
        height: 50px;
        padding-bottom: 10px;
    }

    .card {
        height: 90px;
    }

    h3 {
        font-size: 18px;
    }

    .btn {
        font-size: 12px;
    }
  }